html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
}

span {
  font-weight: bold;
  width: auto;
  height: auto;
}

.yellow-span {
  color: #FFCD01;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.hidden {
  opacity: 0 !important;
  visibility: hidden ;
  animation: ease-out!important;
}

.visible {
  opacity: 1 !important;
  visibility: visible;
  animation: ease-in !important;
}

.header {
  position: fixed !important;
  z-index: 1000;
  height: 100px !important;
  width: 100% !important;
  padding: 0px !important;
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.3) !important;
}

.header-container {
  padding: 0px!important;
}

.header-btn{
  background-color: transparent !important;
  border-radius: 30px !important;
  border: none !important;
  outline: none !important;
  margin-left: 29px;
  font-family: 'Be Vietnam Pro', sans-serif !important;
  font-weight: bold !important;
  color: black!important;
}

.header-btn:hover {
  background-color: #FFCD01 !important;
  outline: none !important;
  color: #FFFFFF !important;
}

.header-btn:focus{
  background-color: #FFCD01 !important;
  outline: none !important;
  border: none !important;
  color: #FFFFFF !important;
}

.header-icon {
  width: 112px !important;
  outline: none !important;
  height: 112px !important;
}

.header-dropdown-menu {
  border: none !important;
  border-radius: 30px !important;
  display: flex !important;
  flex-direction: column;
  padding: 16px 51px !important;
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  margin-top: 14px !important;
}

.header-dropdown-item {
  font-family: 'Be Vietnam Pro', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 30px;

}

.header-dropdown-item:hover {
  background-color: #FFFFFF!important;
  color: #FFCD01!important;
}
.header-dropdown-item:focus {
  background-color: #FFFFFF!important;
  color: #FFCD01!important;
}

.session {
  position: relative!important;
  max-width: 1860px;
  overflow-x: hidden !important;
  height: 1024px;
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sub-session {
  margin-top: 230px;
  position: relative;
  height: 871px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing {
  padding-top: 132px;
  height: 1024px;
}

#notes {

}

#register{
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 1024px !important;
}


#rules {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 3237px;
}

#award {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 3957px;
}

#rules-board {
  width: 100%;
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1701px;
}



#about {
  position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 1100px;
}

.floating-image {
  position: absolute !important;
}

.cloud1 {
 z-index: 1;
  left: -2.99px;
  top: 45px;
}

.cloud2 {
 z-index: 4;
  top: 539px;
  right: 0px;
}

.cloud3 {
  top: 218px;
  right: 0px;
 z-index: 2;
}
.plane{
  z-index: 3;
  top: 374px;
  right: -300px !important;
}
.title{
 z-index: 3;
  left: 100px !important;
  top: 45.27px;
}


.about-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}

.about-content-picture {
  position: relative;
  display: flex;
  height: 483px !important;
  width: 430px !important;
}
#about-text {
  margin-bottom: 100px;
  width: 45%;
}

.helmet {
  position: absolute;
  z-index: 5;
  right: 0px !important;
  top: 100px !important;
}

.picture {
  z-index: 4;
  /*left: 118px;*/
  /*top: 300px;*/
}

.about-title {
  /*left: 550px;*/
  top: 130px;
}

.cloud4 {
  z-index: 5;
  object-fit: cover;
  width: 100% !important;
  bottom: 0px !important;

}

.circle1 {
  right: 75px;
  bottom: 41px
}

.circle2 {
  transform-origin: 50% 50%;
  left: -141px;
  top: 0px;
}
.circle3 {
  right: -30px;
  top: 369px;
}
.dot {
  right: -20px;
  top: 339px;
}
.plane-engine {
  right: 95px;
  bottom: 0px;
  z-index: 11;
}

.note-content {
  width: 50%;
  height: 675px;
  z-index: 10;

}

.note-board {
  width: 100%;
  object-fit: cover;
}
.cross {
  bottom: -100px;

  left: 100px
}

.cloud-background {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  object-fit: contain;
}

.rule-board {

  z-index: 10;
}

.cloud8 {
  z-index: 10;
  bottom: 0px;
}
.cloud9 {
  z-index: 10;
  left: 114px;
  top: 98px;
}

.cloud10 {
  z-index: 10;
  right: 116px;
  top: 145px;
}

.pilot {
  z-index: 11;
  height: 35%;
  width: 65%;
}

.cloud11 {
  z-index: 100;
  top: -50px;
  left: 0px
}

.cloud12 {
  z-index: 100;
  bottom: -30px;
  left: 0px;
}

.rule-session {
  z-index: 8;
  width: 100%;
  object-fit: contain !important;
}

.champion {
  width: 59%;
}

.champion-award {
  width: 59%;
}

.true-runner-up {
  width: 59%;
}

.true-runner-up-award {
  width: 59%;
}

.runner-up {
  width: 59%;
}

.runner-up-award {
  width: 59%;
}

.award-title {
  object-fit: contain;
  width: 42%;
}

#first {
  margin-top: 75px !important
}